/**
 *  CF PARTIAL
 *
 *  clears floats inside the box
 *
 */
/* line 8, ../scss/utilities/_clearfix-p.scss */
.l-split:after, .l-justified__item:after, .l-tricol:after, .l-media:after {
  content: "";
  display: table;
  clear: both;
}

/**
 *  CENTER PARTIAL
 *
 *  creates pseudo-element with vertical-align: middle
 *  inside parent element, so that child elements
 *  could be positioned exactly in the middle (vertically)
 *  of the parent
 *
 */
/* line 11, ../scss/utilities/_center-p.scss */
.cpt-conteiner:before, .adv-block__item:before, .pf-banner__item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.25em;
}

/**
 *  EM FUNCTION
 *
 *  returns size in EM units from given PX units
 *
 *  @param $pixel-size {px}
 *    amount of pixels that should be converted to em units
 *
 *  @param $base-size {px} [$global-font-size]
 *    base value for the conversion
 *
 *  @returns {em}
 *    $pixel-size converted to em units relative to the $base-size
 *
 */
/**
 *  RESETS
 */
/**
 *  Box model
 */
/* line 8, ../scss/configs/_resets.scss */
* {
  margin: 0;
  padding: 0;
}
/* line 12, ../scss/configs/_resets.scss */
*:active {
  outline: none;
}

/* line 17, ../scss/configs/_resets.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 *  Controls
 */
/* line 30, ../scss/configs/_resets.scss */
input::-webkit-input-placeholder {
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #949494;
}

/* line 39, ../scss/configs/_resets.scss */
textarea {
  resize: vertical;
  vertical-align: top;
}

/* line 44, ../scss/configs/_resets.scss */
input, textarea {
  font: inherit;
  line-height: inherit;
  color: inherit;
}
/* line 49, ../scss/configs/_resets.scss */
input:focus, textarea:focus {
  outline: none;
}

/* line 54, ../scss/configs/_resets.scss */
button {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  text-align: inherit;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

/**
 *  Typography
 */
/* line 74, ../scss/configs/_resets.scss */
html,
body {
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #404040;
  background-color: #f2f2f2;
}

/* line 84, ../scss/configs/_resets.scss */
h1, h2, h3, h4, h5, h6,
p, small {
  margin: 0;
  padding: 0;
}

/* line 90, ../scss/configs/_resets.scss */
h1, h2, h3, h4, h5, h6 {
  font: inherit;
  line-height: inherit;
}

/* line 95, ../scss/configs/_resets.scss */
span {
  display: inline-block;
  vertical-align: top;
}

/* line 100, ../scss/configs/_resets.scss */
a {
  text-decoration: none;
  color: inherit;
}

/**
 *  General
 */
/* line 108, ../scss/configs/_resets.scss */
img {
  max-width: 100%;
}

/**
 *  WRAP LAYOUT
 *
 *  maintains horizontal boundaries for the page
 *
 *  .l-wrap
 *  .l-wrap-full
 *
 */
/* line 10, ../scss/layouts/_wrap.scss */
.l-wrap {
  max-width: 1128px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* line 19, ../scss/layouts/_wrap.scss */
.l-wrap-full {
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either 'push--' or 'pull--', for
 * example:
 *
   'class="grid__item  one-half  push--one-half"'
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   'class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"'
 *
   'class="grid__item  one-quarter  palm--one-half  push--palm--one-half"'
 *
   'class="grid__item  palm--one-third  desk--five-twelfths"'
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to 'false':
 */
/**
 * Is this build mobile first? Setting to 'true' means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass' silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using 'inline-block' means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. '.palm--one-half'), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if '$push' and/or '$pull' and '$responsive'
 * have been set to 'true'.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin'!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in '$breakpoints'.
 */
/**
 * Drop relative positioning into silent classes which can't take advantage of
 * the '[class*="push--"]' and '[class*="pull--"]' selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative 'margin-left' to negate the columns' gutters.
 */
/* line 214, ../scss/layouts/_grid.scss */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -48px;
  /* [3] */
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
/* line 240, ../scss/layouts/_grid.scss */
.grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 48px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */
}
/* line 254, ../scss/layouts/_grid.scss */
.grid__item__left-small {
  padding-left: 0;
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends '.grid'.
 */
/* line 264, ../scss/layouts/_grid.scss */
.grid--rev {
  direction: rtl;
  text-align: left;
}
/* line 268, ../scss/layouts/_grid.scss */
.grid--rev > .grid__item {
  direction: ltr;
  text-align: left;
}

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends '.grid'.
 */
/* line 279, ../scss/layouts/_grid.scss */
.grid--full {
  margin-left: 0;
}
/* line 282, ../scss/layouts/_grid.scss */
.grid--full > .grid__item {
  padding-left: 0;
}

/**
 * Align the entire grid to the right. Extends '.grid'.
 */
/* line 291, ../scss/layouts/_grid.scss */
.grid--right {
  text-align: right;
}
/* line 294, ../scss/layouts/_grid.scss */
.grid--right > .grid__item {
  text-align: left;
}

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends '.grid'.
 */
/* line 304, ../scss/layouts/_grid.scss */
.grid--center {
  text-align: center;
}
/* line 307, ../scss/layouts/_grid.scss */
.grid--center > .grid__item {
  text-align: left;
}

/**
 * Align grid cells vertically ('.grid--middle' or '.grid--bottom'). Extends
 * '.grid'.
 */
/* line 319, ../scss/layouts/_grid.scss */
.grid--middle > .grid__item {
  vertical-align: middle;
}

/* line 326, ../scss/layouts/_grid.scss */
.grid--bottom > .grid__item {
  vertical-align: bottom;
}

/**
 * Create grids with narrower gutters. Extends '.grid'.
 */
/* line 335, ../scss/layouts/_grid.scss */
.grid--narrow {
  margin-left: -24px;
}
/* line 338, ../scss/layouts/_grid.scss */
.grid--narrow > .grid__item {
  padding-left: 24px;
}

/**
 * Create grids with wider gutters. Extends '.grid'.
 */
/* line 347, ../scss/layouts/_grid.scss */
.grid--wide {
  margin-left: -96px;
}
/* line 350, ../scss/layouts/_grid.scss */
.grid--wide > .grid__item {
  padding-left: 96px;
}

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
/* line 371, ../scss/layouts/_grid.scss */
.one-whole {
  width: 100%;
}

/**
 * Halves
 */
/* line 377, ../scss/layouts/_grid.scss */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%;
}

/**
 * Thirds
 */
/* line 383, ../scss/layouts/_grid.scss */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%;
}

/* line 384, ../scss/layouts/_grid.scss */
.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%;
}

/**
 * Quarters
 */
/* line 390, ../scss/layouts/_grid.scss */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%;
}

/* line 392, ../scss/layouts/_grid.scss */
.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%;
}

/**
 * Fifths
 */
/* line 398, ../scss/layouts/_grid.scss */
.one-fifth, .two-tenths {
  width: 20%;
}

/* line 399, ../scss/layouts/_grid.scss */
.two-fifths, .four-tenths {
  width: 40%;
}

/* line 400, ../scss/layouts/_grid.scss */
.three-fifths, .six-tenths {
  width: 60%;
}

/* line 401, ../scss/layouts/_grid.scss */
.four-fifths, .eight-tenths {
  width: 80%;
}

/**
 * Sixths
 */
/* line 407, ../scss/layouts/_grid.scss */
.one-sixth, .two-twelfths {
  width: 16.666%;
}

/* line 411, ../scss/layouts/_grid.scss */
.five-sixths, .ten-twelfths {
  width: 83.333%;
}

/**
 * Eighths
 */
/* line 417, ../scss/layouts/_grid.scss */
.one-eighth {
  width: 12.5%;
}

/* line 419, ../scss/layouts/_grid.scss */
.three-eighths {
  width: 37.5%;
}

/* line 421, ../scss/layouts/_grid.scss */
.five-eighths {
  width: 62.5%;
}

/* line 423, ../scss/layouts/_grid.scss */
.seven-eighths {
  width: 87.5%;
}

/**
 * Tenths
 */
/* line 429, ../scss/layouts/_grid.scss */
.one-tenth {
  width: 10%;
}

/* line 431, ../scss/layouts/_grid.scss */
.three-tenths {
  width: 30%;
}

/* line 435, ../scss/layouts/_grid.scss */
.seven-tenths {
  width: 70%;
}

/* line 437, ../scss/layouts/_grid.scss */
.nine-tenths {
  width: 90%;
}

/**
 * Twelfths
 */
/* line 443, ../scss/layouts/_grid.scss */
.one-twelfth {
  width: 8.333%;
}

/* line 447, ../scss/layouts/_grid.scss */
.five-twelfths {
  width: 41.666%;
}

/* line 449, ../scss/layouts/_grid.scss */
.seven-twelfths {
  width: 58.333%;
}

/* line 453, ../scss/layouts/_grid.scss */
.eleven-twelfths {
  width: 91.666%;
}

/**
 * Our responsive classes, if we have enabled them.
 */
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
/* line 584, ../scss/layouts/_grid.scss */
[class*="push--"] {
  position: relative;
}

/**
 * Whole
 */
/* line 494, ../scss/layouts/_grid.scss */
.push--one-whole {
  left: 100%;
}

/**
 * Halves
 */
/* line 500, ../scss/layouts/_grid.scss */
.push--one-half, .push--two-quarters, .push--three-sixths, .push--four-eighths, .push--five-tenths, .push--six-twelfths {
  left: 50%;
}

/**
 * Thirds
 */
/* line 506, ../scss/layouts/_grid.scss */
.push--one-third, .push--two-sixths, .push--four-twelfths {
  left: 33.333%;
}

/* line 507, ../scss/layouts/_grid.scss */
.push--two-thirds, .push--four-sixths, .push--eight-twelfths {
  left: 66.666%;
}

/**
 * Quarters
 */
/* line 513, ../scss/layouts/_grid.scss */
.push--one-quarter, .push--two-eighths, .push--three-twelfths {
  left: 25%;
}

/* line 515, ../scss/layouts/_grid.scss */
.push--three-quarters, .push--six-eighths, .push--nine-twelfths {
  left: 75%;
}

/**
 * Fifths
 */
/* line 521, ../scss/layouts/_grid.scss */
.push--one-fifth, .push--two-tenths {
  left: 20%;
}

/* line 522, ../scss/layouts/_grid.scss */
.push--two-fifths, .push--four-tenths {
  left: 40%;
}

/* line 523, ../scss/layouts/_grid.scss */
.push--three-fifths, .push--six-tenths {
  left: 60%;
}

/* line 524, ../scss/layouts/_grid.scss */
.push--four-fifths, .push--eight-tenths {
  left: 80%;
}

/**
 * Sixths
 */
/* line 530, ../scss/layouts/_grid.scss */
.push--one-sixth, .push--two-twelfths {
  left: 16.666%;
}

/* line 534, ../scss/layouts/_grid.scss */
.push--five-sixths, .push--ten-twelfths {
  left: 83.333%;
}

/**
 * Eighths
 */
/* line 540, ../scss/layouts/_grid.scss */
.push--one-eighth {
  left: 12.5%;
}

/* line 542, ../scss/layouts/_grid.scss */
.push--three-eighths {
  left: 37.5%;
}

/* line 544, ../scss/layouts/_grid.scss */
.push--five-eighths {
  left: 62.5%;
}

/* line 546, ../scss/layouts/_grid.scss */
.push--seven-eighths {
  left: 87.5%;
}

/**
 * Tenths
 */
/* line 552, ../scss/layouts/_grid.scss */
.push--one-tenth {
  left: 10%;
}

/* line 554, ../scss/layouts/_grid.scss */
.push--three-tenths {
  left: 30%;
}

/* line 558, ../scss/layouts/_grid.scss */
.push--seven-tenths {
  left: 70%;
}

/* line 560, ../scss/layouts/_grid.scss */
.push--nine-tenths {
  left: 90%;
}

/**
 * Twelfths
 */
/* line 566, ../scss/layouts/_grid.scss */
.push--one-twelfth {
  left: 8.333%;
}

/* line 570, ../scss/layouts/_grid.scss */
.push--five-twelfths {
  left: 41.666%;
}

/* line 572, ../scss/layouts/_grid.scss */
.push--seven-twelfths {
  left: 58.333%;
}

/* line 576, ../scss/layouts/_grid.scss */
.push--eleven-twelfths {
  left: 91.666%;
}

/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
/* line 706, ../scss/layouts/_grid.scss */
[class*="pull--"] {
  position: relative;
}

/**
 * Whole
 */
/* line 616, ../scss/layouts/_grid.scss */
.pull--one-whole {
  right: 100%;
}

/**
 * Halves
 */
/* line 622, ../scss/layouts/_grid.scss */
.pull--one-half, .pull--two-quarters, .pull--three-sixths, .pull--four-eighths, .pull--five-tenths, .pull--six-twelfths {
  right: 50%;
}

/**
 * Thirds
 */
/* line 628, ../scss/layouts/_grid.scss */
.pull--one-third, .pull--two-sixths, .pull--four-twelfths {
  right: 33.333%;
}

/* line 629, ../scss/layouts/_grid.scss */
.pull--two-thirds, .pull--four-sixths, .pull--eight-twelfths {
  right: 66.666%;
}

/**
 * Quarters
 */
/* line 635, ../scss/layouts/_grid.scss */
.pull--one-quarter, .pull--two-eighths, .pull--three-twelfths {
  right: 25%;
}

/* line 637, ../scss/layouts/_grid.scss */
.pull--three-quarters, .pull--six-eighths, .pull--nine-twelfths {
  right: 75%;
}

/**
 * Fifths
 */
/* line 643, ../scss/layouts/_grid.scss */
.pull--one-fifth, .pull--two-tenths {
  right: 20%;
}

/* line 644, ../scss/layouts/_grid.scss */
.pull--two-fifths, .pull--four-tenths {
  right: 40%;
}

/* line 645, ../scss/layouts/_grid.scss */
.pull--three-fifths, .pull--six-tenths {
  right: 60%;
}

/* line 646, ../scss/layouts/_grid.scss */
.pull--four-fifths, .pull--eight-tenths {
  right: 80%;
}

/**
 * Sixths
 */
/* line 652, ../scss/layouts/_grid.scss */
.pull--one-sixth, .pull--two-twelfths {
  right: 16.666%;
}

/* line 656, ../scss/layouts/_grid.scss */
.pull--five-sixths, .pull--ten-twelfths {
  right: 83.333%;
}

/**
 * Eighths
 */
/* line 662, ../scss/layouts/_grid.scss */
.pull--one-eighth {
  right: 12.5%;
}

/* line 664, ../scss/layouts/_grid.scss */
.pull--three-eighths {
  right: 37.5%;
}

/* line 666, ../scss/layouts/_grid.scss */
.pull--five-eighths {
  right: 62.5%;
}

/* line 668, ../scss/layouts/_grid.scss */
.pull--seven-eighths {
  right: 87.5%;
}

/**
 * Tenths
 */
/* line 674, ../scss/layouts/_grid.scss */
.pull--one-tenth {
  right: 10%;
}

/* line 676, ../scss/layouts/_grid.scss */
.pull--three-tenths {
  right: 30%;
}

/* line 680, ../scss/layouts/_grid.scss */
.pull--seven-tenths {
  right: 70%;
}

/* line 682, ../scss/layouts/_grid.scss */
.pull--nine-tenths {
  right: 90%;
}

/**
 * Twelfths
 */
/* line 688, ../scss/layouts/_grid.scss */
.pull--one-twelfth {
  right: 8.333%;
}

/* line 692, ../scss/layouts/_grid.scss */
.pull--five-twelfths {
  right: 41.666%;
}

/* line 694, ../scss/layouts/_grid.scss */
.pull--seven-twelfths {
  right: 58.333%;
}

/* line 698, ../scss/layouts/_grid.scss */
.pull--eleven-twelfths {
  right: 91.666%;
}

/**
 *  LIST LAYOUT
 *
 *  layout for unstyled block list or inline list
 *
 *  .l-list
 *    &__item
 *    &--collapsed
 *    &--inline
 *    &--multiline
 *
 */
/* line 13, ../scss/layouts/_list.scss */
.l-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 18, ../scss/layouts/_list.scss */
.l-list__item {
  display: block;
}

/* line 22, ../scss/layouts/_list.scss */
.l-list--inline {
  margin-left: -12px;
}
/* line 25, ../scss/layouts/_list.scss */
.l-list--inline > .l-list__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
}

/* line 31, ../scss/layouts/_list.scss */
.l-list--multiline {
  margin-bottom: -12px;
}
/* line 34, ../scss/layouts/_list.scss */
.l-list--multiline > .l-list__item {
  margin-bottom: 12px;
}

/* line 38, ../scss/layouts/_list.scss */
.l-list--collapsed {
  margin: 0;
}
/* line 41, ../scss/layouts/_list.scss */
.l-list--collapsed > .l-list__item {
  margin: 0.1px;
}

/**
 *  SPLIT LAYOUT
 *
 *  distributes items to the left and right sides of the parent item
 *
 *  .l-split
 *    &__left
 *    &__right
 *
 */
/* line 18, ../scss/layouts/_split.scss */
.l-split__right {
  float: right;
}

/**
 *  JUSTIFIED LAYOUT
 *
 *  distributes items evenly in the parent using inline-blocks and text-align:justify
 *  usage of inline-blocks also enables vertical alignment with vertical-align property
 *
 *  .l-justified
 *    &__item
 *
 *  @warning
 *    font-size and line-height inside .l-justified__item are reset to the base values
 *    so, if your module has custom font-size and/or line-height, you should probably
 *    use different layout
 *
 */
/* line 16, ../scss/layouts/_justified.scss */
.l-justified {
  text-align: justify;
  text-justify: distribute-all-lines;
  font-size: 0;
  line-height: 0;
}
/* line 23, ../scss/layouts/_justified.scss */
.l-justified:after {
  content: '';
  display: inline-block;
  width: 100%;
}
/* line 29, ../scss/layouts/_justified.scss */
.l-justified__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-justify: auto;
}

/**
 *  TRICOL LAYOUT
 *
 *  three column layout with left part, right part, and center-aligned middle part
 *
 *  .l-tricol
 *    &__left
 *    &__right
 *    &__mid
 *
 */
/* line 12, ../scss/layouts/_tricol.scss */
.l-tricol {
  position: relative;
}
/* line 16, ../scss/layouts/_tricol.scss */
.l-tricol__left {
  float: left;
  position: relative;
  z-index: 2;
}
/* line 22, ../scss/layouts/_tricol.scss */
.l-tricol__right {
  float: right;
  position: relative;
  z-index: 2;
}
/* line 28, ../scss/layouts/_tricol.scss */
.l-tricol__mid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/**
 *  MEDIA LAYOUT
 *
 *  layout of type "figure-content" or "content-figure" with floated figure
 *  and new block formatting context for the content part
 *
 *  more info here: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 *
 *  .l-media
 *    &__figure
 *    &__body
 *    &--rev
 *
 */
/* line 18, ../scss/layouts/_media.scss */
.l-media__figure {
  float: left;
  margin-right: 12px;
}
/* line 22, ../scss/layouts/_media.scss */
.l-media--rev .l-media__figure {
  float: right;
  margin-right: 0;
  margin-left: 12px;
}
/* line 31, ../scss/layouts/_media.scss */
.flexbox .l-media__body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
/* line 36, ../scss/layouts/_media.scss */
.no-flexbox .l-media__body {
  overflow: hidden;
}

/**
 *  BLOCK LAYOUT
 *
 *  maintains vertical spacing between different modules
 *
 *  .l-block
 *  .l-block-small
 *  .l-block-large
 *  .l-block-x-large
 *
 */
/* line 12, ../scss/layouts/_block.scss */
.l-block-small {
  display: block;
  margin-bottom: 6px;
}

/* line 16, ../scss/layouts/_block.scss */
.l-block {
  display: block;
  margin-bottom: 12px;
}

/* line 20, ../scss/layouts/_block.scss */
.l-block-large {
  display: block;
  margin-bottom: 24px;
}

/* line 24, ../scss/layouts/_block.scss */
.l-block-x-large {
  display: block;
  margin-bottom: 36px;
}

/* line 3, ../scss/modules/_page-header.scss */
.page-header {
  font-size: 14px;
  color: white;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyYjg5YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOTVjNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(left, #42b89a, #3a95c7);
  background: -webkit-linear-gradient(left, #42b89a, #3a95c7);
  background: linear-gradient(to right, #42b89a, #3a95c7);
}
/* line 8, ../scss/modules/_page-header.scss */
.page-header__logo {
  height: 70px;
  line-height: 70px;
}
/* line 12, ../scss/modules/_page-header.scss */
.page-header__img {
  vertical-align: middle;
}
/* line 15, ../scss/modules/_page-header.scss */
.page-header__avatar {
  padding: 0 12px;
}

/* line 21, ../scss/modules/_page-header.scss */
.ph-menu {
  font-weight: bold;
}
/* line 23, ../scss/modules/_page-header.scss */
.ph-menu__item {
  display: block;
  height: 70px;
  padding: 0 24px;
  line-height: 70px;
  text-decoration: none;
}

/* line 3, ../scss/modules/_current-user.scss */
.current-user__avatar {
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  margin: 17px 0;
  border-radius: 50%;
}

/* line 5, ../scss/modules/_con-page-title.scss */
.con-page-title {
  background-color: black;
  height: 240px;
}
/* line 9, ../scss/modules/_con-page-title.scss */
.con-page-title__title {
  display: inline-block;
  vertical-align: middle;
  font-size: 42px;
  color: white;
}

/* line 17, ../scss/modules/_con-page-title.scss */
.cpt-conteiner {
  background: url("/img/Experts.png") 50% 0;
  background-size: 70%;
  height: 100%;
  text-align: center;
}

/* line 1, ../scss/modules/_page-sidebar.scss */
.page-sidebar {
  padding-top: 33px;
  padding-left: 35px;
  padding-right: 24px;
}

/* line 6, ../scss/modules/_page-sidebar.scss */
.ps-menu {
  margin-bottom: 24px;
}
/* line 9, ../scss/modules/_page-sidebar.scss */
.ps-menu__title {
  display: block;
  padding: 12px 0 30px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
}
/* line 18, ../scss/modules/_page-sidebar.scss */
.ps-menu__item {
  display: block;
  color: #404040;
  font-weight: bold;
  line-height: 33px;
}
/* line 24, ../scss/modules/_page-sidebar.scss */
.ps-menu__item:hover, .ps-menu__item--active {
  color: #3fae98;
}
/* line 28, ../scss/modules/_page-sidebar.scss */
.ps-menu__item--active {
  background: url("/img/arrow.png") 100% 50% no-repeat;
}

/* line 34, ../scss/modules/_page-sidebar.scss */
.ps-banner {
  display: block;
  border: 2px solid #D4C9AE;
  margin: 24px 0;
  border-radius: 6px;
  padding: 12px;
}

/* line 1, ../scss/modules/_page-content.scss */
.page-content {
  padding-top: 12px;
  padding-bottom: 48px;
}

/* line 10, ../scss/modules/_page-content.scss */
.pc-title {
  font-size: 24px;
  line-height: 36px;
}

/* line 4, ../scss/modules/_content-panel.scss */
.content-panel__block {
  padding: 36px 36px 35px 36px;
}
/* line 10, ../scss/modules/_content-panel.scss */
.content-panel__block:first-of-type {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
/* line 15, ../scss/modules/_content-panel.scss */
.content-panel__block:last-of-type {
  padding-bottom: 36px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* line 22, ../scss/modules/_content-panel.scss */
.content-panel__block--small {
  padding-top: 24px;
  padding-bottom: 24px;
}
/* line 26, ../scss/modules/_content-panel.scss */
.content-panel__block--left-right-none {
  padding-left: 0;
  padding-right: 0;
}

/* line 1, ../scss/modules/_input.scss */
.input, .input-search {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px 12px;
  border-radius: 6px;
  border: 1px solid #BDBDBD;
}
/* line 8, ../scss/modules/_input.scss */
.input:focus, .input-search:focus {
  border-color: #318977;
  box-shadow: 0 0 3px rgba(63, 174, 152, 0.8);
}
/* line 13, ../scss/modules/_input.scss */
.input:disabled, .input-search:disabled {
  box-shadow: none;
  background-color: #f7f7f7;
}

/* line 18, ../scss/modules/_input.scss */
.input--full {
  width: 100%;
}

/* line 21, ../scss/modules/_input.scss */
.input--error {
  border-color: #d14e4e;
}
/* line 24, ../scss/modules/_input.scss */
.input--error:focus {
  border-color: #d14e4e;
  box-shadow: 0 0 3px rgba(209, 78, 78, 0.8);
}

/* line 29, ../scss/modules/_input.scss */
.input--grouped {
  border-radius: 0;
}
/* line 32, ../scss/modules/_input.scss */
.input--grouped:not(.input--grouped-first) {
  border-left: none;
}

/* line 36, ../scss/modules/_input.scss */
.input--grouped-first {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* line 40, ../scss/modules/_input.scss */
.input--grouped-last {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/**
 *  SEARCHBOX INPUT
 *
 *  adds decoration for standard input[type="search"]
 *
 *  .input
 *  <---  .input-search
 *
 */
/* line 55, ../scss/modules/_input.scss */
.input-search {
  padding-left: 36px;
  border-radius: 100px;
}

/* line 3, ../scss/modules/_experts-list.scss */
.experts-list__item {
  border-radius: 6px;
  margin-bottom: 61px;
}
/* line 8, ../scss/modules/_experts-list.scss */
.experts-list__grid {
  padding-left: 24px;
}

/* line 12, ../scss/modules/_experts-list.scss */
.expert-item {
  height: 106px;
  margin-top: 45px;
  position: relative;
  color: #FFFFFF;
}
/* line 17, ../scss/modules/_experts-list.scss */
.expert-item__avatar {
  position: absolute;
  top: -45px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
/* line 23, ../scss/modules/_experts-list.scss */
.expert-item__avatar-img {
  border-radius: 50%;
}
/* line 27, ../scss/modules/_experts-list.scss */
.expert-item__name {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 100%;
  top: 48px;
  font-size: 24px;
}
/* line 35, ../scss/modules/_experts-list.scss */
.expert-item__spec {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 100%;
  top: 72px;
  font-size: 12px;
}
/* line 43, ../scss/modules/_experts-list.scss */
.expert-item__bg {
  position: absolute;
  bottom: 0;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 50, ../scss/modules/_experts-list.scss */
.expert-item__bg-inside {
  background: url("/img/avatar.png") no-repeat 0 50%;
  background-size: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
  height: 100%;
}

/* line 1, ../scss/modules/_adv-block.scss */
.adv-block {
  height: 190px;
  background: #1f1f1f;
  color: #FFFFFF;
}
/* line 7, ../scss/modules/_adv-block.scss */
.adv-block__item {
  height: 190px;
}
/* line 12, ../scss/modules/_adv-block.scss */
.adv-block--text {
  color: #948f79;
  font-size: 21px;
  display: inline-block;
  padding-left: 34px;
}

/* line 1, ../scss/modules/_buttons.scss */
.button {
  color: #FFFFFF;
  font-size: 14px;
  background: #32ba9a;
  border-radius: 48px;
  width: 325px;
  height: 56px;
  text-align: center;
}

/* line 1, ../scss/modules/_page-footer.scss */
.page-footer {
  background: #363636;
  color: #FFFFFF;
  padding-top: 5%;
  font-weight: 700;
  font-size: 12px;
}

/* line 9, ../scss/modules/_page-footer.scss */
.pf-menu {
  list-style: none;
  margin: 0;
}
/* line 13, ../scss/modules/_page-footer.scss */
.pf-menu__item {
  line-height: 36px;
}
/* line 17, ../scss/modules/_page-footer.scss */
.pf-menu__title {
  text-transform: uppercase;
  margin-bottom: 24px;
}

/* line 23, ../scss/modules/_page-footer.scss */
.pf-header {
  color: #94948e;
}

/* line 27, ../scss/modules/_page-footer.scss */
.pf-top {
  padding-bottom: 84px;
  border-bottom: 1px solid #404040;
}

/* line 34, ../scss/modules/_page-footer.scss */
.pf-bottom-name {
  color: #94948e;
  font-weight: 700;
  text-align: center;
}

/* line 44, ../scss/modules/_page-footer.scss */
.pf-banner__item {
  border-radius: 6px;
  border: 2px solid #94948e;
  text-align: center;
  text-transform: uppercase;
  height: 68px;
  vertical-align: middle;
  font-size: 14px;
}
/* line 55, ../scss/modules/_page-footer.scss */
.pf-banner__item-wheel {
  background: url("/img/wheel.jpg") 24px 50% no-repeat;
}
/* line 59, ../scss/modules/_page-footer.scss */
.pf-banner__item-bag {
  background: url("/img/bag.jpg") 24px 50% no-repeat;
}
